<div class="row">
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">

      <img src="assets/images/icons/warehouse.png" alt="" class="icon me-3">


      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img src="assets/images/icons/warning.png" alt="" class="icon me-3">
      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img src="assets/images/icons/out_of_stock.png" alt="" class="icon me-3">
      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
</div>

<!-- table -->
<div class="mat-elevation-z8 mt-3 table-responsive">

  <div class="d-flex justify-content-between align-items-center p-3 search_form">
    <mat-form-field appearance="outline" class="w-50">
      <mat-label>Search product</mat-label>
      <input matInput placeholder="search" (keyup)="search($event)" [(ngModel)]="textSearch">
      <mat-icon matSuffix *ngIf="!textSearch">search</mat-icon>
      <button mat-icon-button matSuffix *ngIf="textSearch" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <button mat-flat-button color="primary">
      <mat-icon>add</mat-icon>
      New Product
    </button>
  </div>

  <table mat-table matSort [dataSource]="dataSource" class="table table-striped table-hover">

    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="text-uppercase text-center align-middle"> Image </th>
      <td mat-cell *matCellDef="let data">
        <div class="over-lay mx-auto d-block border-top border-left border-right rounded-top">
          <img [src]="data.image" class="w-100 bg-light rounded-top" alt="">
          <div class="over-lay-text text-center mat-small">1150</div>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-uppercase text-center align-middle"> Name </th>
      <td mat-cell *matCellDef="let data" class="align-middle text-truncate"> {{ data.name}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-uppercase text-center align-middle"> Price </th>
      <td mat-cell *matCellDef="let data" class="align-middle text-center"> {{ data.price | number : '1.2-2' }} </td>
    </ng-container>

    <ng-container matColumnDef="stock">
      <th mat-sort-header mat-header-cell *matHeaderCellDef class="text-uppercase text-center align-middle"> Stock </th>
      <td mat-cell *matCellDef="let data" class="align-middle text-center"> {{ data.stock | number }} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef class="text-uppercase text-center align-middle"> Action </th>
      <td mat-cell *matCellDef="let data" class="align-middle text-center">
        <button mat-icon-button>
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete_outline</mat-icon>
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 25, 50, 100]" [showFirstLastButtons]="true">
  </mat-paginator>

</div>
<!-- table -->
