<div class="row">
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img src="assets/images/icons/warehouse.png" alt="" class="icon me-3">
      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img src="assets/images/icons/warning.png" alt="" class="icon me-3">
      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card class="d-flex align-items-center">
      <img src="assets/images/icons/out_of_stock.png" alt="" class="icon me-3">
      <div class="d-dlex flex-column">
        <div class="h6 mb-0">Stock</div>
        <div class="h6 mb-0">0</div>
      </div>
    </mat-card>
  </div>
</div>
