<img class="img-fluid bg-color" src="assets\images\icons\avatar.png" alt="">

<mat-nav-list dense class="mt-2">
  <a mat-list-item>
    <span mat-line><span class="mat-h4">Stock</span></span>
    <img matListAvatar class="img-icon" src="assets\images\icons\stock.png" alt="">
  </a>
  <a mat-list-item>
    <span mat-line><span class="mat-h4">Shop</span></span>
    <img matListAvatar class="img-icon" src="assets\images\icons\shop.png" alt="">
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Dashboard</h3>
  <a mat-list-item>
    <span mat-line><span class="mat-h4">Summary</span></span>
    <img matListAvatar class="img-icon" src="assets\images\icons\summary.png" alt="">
  </a>
  <a mat-list-item>
    <span mat-line><span class="mat-h4">Customer</span></span>
    <img matListAvatar class="img-icon" src="assets\images\icons\customer.png" alt="">
  </a>
</mat-nav-list>
