<mat-toolbar color="primary">
  <span>Fullstack Web Application</span>
  <span class="flex-fill"></span>
  <div class="d-flex align-items-center">
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button>
      <mat-icon [matBadge]="mailNoti" matBadgeColor="accent">mail_outline</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button>
      <mat-icon [matBadge]="noti" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
  </div>
</mat-toolbar>
