<mat-toolbar color="primary">
  <button mat-button (click)="onClickNavToggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Fullstack Web Application</span>
  <span class="flex-fill"></span>
  <div class="d-flex align-items-center">
    <button mat-button>
      <mat-icon>search</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button>
      <mat-icon [matBadge]="mailNoti" matBadgeColor="accent">mail_outline</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button>
      <mat-icon [matBadge]="noti" matBadgeColor="warn">notifications_none</mat-icon>
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="list">
    <img class="avatar rounded-circle bg-white" src="assets\images\icons\avatar.png" alt="">
    <span class="ml-2">Admin</span>
  </button>
  <mat-menu #list="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
